<center>
    <div class="row">
        <div class="col-sm-12" style="padding:5rem" >
            <img src="/images/notfoundimg.png" alt="error... WITH 'KEYWORD' ...">
            <h1>Sorry, no results found!</h1>
            <p>Please check the spelling or try searching for something else</p>
        </div>
    </div>
</center>