<div class="grid-container">
  <footer class="footer">
    <div class="">
      <a href="https://www.facebook.com/A-Shopping-Cart-102545241509734" target="_blank">
        <img src="https://cdn.fs.teachablecdn.com/yho35aJlSICjNd8Pe6Zk" height="50" />
      </a>
      <a href="https://twitter.com/hashtag/login" target="_blank">
        <img src="https://cdn.fs.teachablecdn.com/YjXpg90MTCWsPzj9TI3g" height="50" />
      </a>
      <a href="https://www.youtube.com/results?search_query=a+shopping+app/" target="_blank">
        <img src="https://cdn.fs.teachablecdn.com/d0LbDKI1SKq7DjycxGA4" height="50" />
      </a>
      <h6 class="allright">All right reserved.</h6>
    </div>

  </footer>
</div>